{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>Welcome to Studor</h1>
            </div>
        </div>
    </div>
{% endblock %}