{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title 'Регистрация' %}

{% block fos_user_content %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form container' ~ (not form.vars.valid ? ' form--invalid')}}) }}
        <h4>Регистрация нового аккаунта</h4>
        {{ form_widget(form) }}
        <button type="submit" class="button">Зарегистрироваться</button>
    {{ form_end(form) }}
{% endblock fos_user_content %}

